@mixin responsive {
    @media screen and (max-width: 980px) {
      @content;
    }  
  }

.presentation{
    display: flex;
    padding-top: 10vh;
    padding-left: 5vw;
    line-height: 110px;
    .t1{
      font-family: hind;
      font-weight: 400;
      font-size: 80px;
      @include responsive(){
        font-size: 55px;
      }
    }
    .t2{
      font-family: hind;
      font-weight: 600;
      font-size: 88px;
      @include responsive(){
        font-size: 55px;
      }
    }
    .jsme{
      margin-top: 80px;
      text-transform: uppercase;
      font-family: hind;
      font-weight: 600;
      color: white;
      font-size: 47px;
      @include responsive(){
          visibility: hidden;
      }
    }
    .jsme2{
        margin-top: 80px;
        text-transform: uppercase;
        font-family: hind;
        font-weight: 600;
        color: white;
        font-size: 47px;
        visibility: hidden;
        @include responsive(){
            text-align: center;
            margin-top: 50px;
            visibility: visible;
        }
      }

    @include responsive(){
        flex-direction: column;
    }
  }